@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #1b1b1b;
  height: 100%;
}
body > div {
  height: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  display: none;
  color: #828282;
}

@media (min-width: 860px) {
  .swiper .swiper-button-next,
  .swiper .swiper-button-prev {
    display: flex;
  }
  .swiper .swiper-button-next {
    right: -20px;
    transform: translateY(-50%);
  }
  .swiper .swiper-button-prev {
    left: -20px;
    transform: translateY(-50%);
  }
  body .swiper {
    position: static;
  }
}

@media (min-width: 1800px) {
  .swiper .swiper-button-next,
  .swiper .swiper-button-prev {
    display: none;
  }
}
